package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
			<title>Go Blueprint Hello</title>
			<script src="/static/js/htmx.min.js"></script>
            <link rel="stylesheet" href="/static/css/output.css"></link>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
